div.formula {
	margin: 1em;
}

div.formula span.par1 {
	font-size: 140%;
}

div.formula span.par1 sup {
	font-size: 70%;
}

div.formula span.par2 {
	font-size: 180%;
}

div.formula span.par2 sup {
	font-size: 70%;
}

div.formula div.sum {
	display: inline-table;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
}

div.formula div.sum div {
	font-size: 80%;
}

div.formula div.sum div.sigma {
	font-size: 250%;
}

div.formula table {
	display: inline-table;
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
	font-size: 80%;
}

div.formula table td.denominator {
	border-top: solid thin;
}

table.optima {
	border-collapse: collapse;
}

table.optima td {
	border: solid thin;
	padding: 8px;
	vertical-align: top;
}

table.matrix {
	border-collapse: collapse;
}

table.matrix td {
	border: solid thin;
	padding: 4px;
	white-space: nowrap;
}

.best {
	font-weight: bold;
}
